* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}
body{
    background-color: #f7f7f7;
}
.main-page-section{
    background-color: #fff;
    box-shadow: 0 0 128px 0 rgba(0,0,0,0.2),
                0 32px 64px -48px rgba(0,0,0,0.5);;
    border: 0;
    border-radius: 6px;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
section{
    background-color: #fff;
}
.top-username{
    position: relative;
    top: 5px;
}
.user-action-btns button{
    text-decoration: none;
    font-weight: 550;
    letter-spacing: .8px;
    font-size: 17px;
}
.profile-links p{
    letter-spacing: .6px;
    font-size: 17px;
}
.profile-links p:nth-child(2){
    position: relative;
    top: -15px;
    font-weight: 500;
}
.chat-box {
    flex-grow: 1; 
    padding-bottom: 80px;
    overflow-y: auto; 
    padding: 10px;
    /* height: calc(100vh - 60px - 70px);  */
    box-sizing: border-box;
    flex-grow: 1;
    overflow-y: auto;
    padding: 10px;
    margin-bottom: 80px; 
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.chat-box::-webkit-scrollbar {
    display: none;
}
#messageForm {
    margin-top: auto; 
}
@media (max-width: 768px) {
    .chat-box{
        height: calc(98vh - 60px - 70px);
    }
}
.message-body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    margin: 0;
    padding: 0;
    overflow: hidden; 
}
.message-container {
    display: flex;
    flex-direction: column;
    height: 100vh; 
    width: 100%;
    max-width: 450px; 
    border: 1px solid #ccc; 
    box-shadow: 0 0 10px rgba(0,0,0,0.1); 
}
.chat-header {
    padding: 10px;
    border-bottom: 1px solid #eee;
}  
.message-input-form {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: white;
    border-top: 1px solid #eee;
    display: flex;
    align-items: center;
    z-index: 1000; 
}

@media (min-width: 768px) { 
    .message-input-form {
        max-width: 450px; 
        left: 50%;
        transform: translateX(-50%);
    }
    .message-container {
        height: 98vh; 
    }
    body {
        padding-top: 1vh; 
        padding-bottom: 1vh;
    }
}
@media (max-width: 768px)
{
    .message-container{
        padding-bottom: 25px !important;
    }
    .mess-goback{
        position: relative;
        left: 5% !important;
    }
}

.message-bubble {
    padding: 10px 15px;
    border-radius: 15px;
    margin: 5px 0;
    max-width: 75%; 
    word-wrap: break-word;
}
.sender-message {
    background-color: #DCF8C6;
    margin-left: auto; 
    text-align: right;
}
.receiver-message {
    background-color: #F1F0F0;
    margin-right: auto;
    text-align: left;
}